.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;

    .heading{
        font-size: 2rem;
        font-weight: bold;
    }
}