.container{
    display: flex;
    gap: 0.6rem;
    font-weight: bold;
    color: black;
    padding: 1rem;
    position: fixed;
    font-size: 1.1rem;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -99;
    >:nth-child(1)
    {
        font-weight: 500;
    }
}