.container{
    display: flex;
    margin: auto;
    gap: 2rem;
    margin-top: 30px;
    justify-content: space-around;
    align-items: flex-end;
    @media (max-width: 640px) {
        flex-wrap: wrap;
    }
}