  .heading {
    font-size: 2rem;
    font-weight: 600;
  }
  .comboBoxesWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    row-gap: 2rem;
    margin: 20px 0;

    @media screen and (max-width: 672px) {
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }

    span {
      font-size: 1rem;
      margin-bottom: 5px;
    }

    .comboBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media screen and (max-width: 672px) {
        width: 100%;
      }
    }
  }

  .searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--headerBlack);
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-end;
    color: white;
    height: 70%;
    gap: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 672px) {
      align-self: center;
    }
  }